header {
  background: #070707;
  color: white;
  border-bottom: 1px solid #ffffff;
  padding: 1rem 0;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  color: #e50914; /* rojo tipo Netflix */
  text-decoration: none;
  letter-spacing: 2px;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav a:hover {
  color: #811212;
}