
.form-title_hero {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 100px;
  font-weight: 700;
  color: #e50914; /* rojo estilo cine */
  letter-spacing: 2px;
  text-transform: uppercase;
}
